	h1 {
		text-align:center;
		letter-spacing: 0.25em;
		}

	h2 {
		border-top:2px solid;
		border-bottom: 1px solid;
		letter-spacing: 0.25em;
		font-size: 16pt;
		}

	body{
		width: 960px;
		font-family: 'Old Standard TT', serif;
  		font-size: 16pt;
  		margin: 100px auto
		}

	.uppercase{
		text-transform: uppercase;
		}
	blockquote {
 		margin: 0;
		font-style: italic;
		width: 960px;
		}
		.subheading1 {
		font-style: italic;
		text-align: center;
		letter-spacing: 0.15em;
		}
	h2 small {
		font-style: italic;
		font-size: medium;
		text-transform: none;
  		letter-spacing: 0;
  		font-weight: normal;
		}
	.name {
		text-align: right;
		text-transform: uppercase;
		}
	.weeks {
		background-color: lavender;
		color: black;
		}
	dt {
  		float: left;
  		clear: left;
		width: 13%;
		}
	dd {
		float:right;
		width: 80%;
		}
	.clearfix {
  		clear: both;
  		}
	 
	 table.one {
		border-collapse: collapse;
		empty-cells: show;
		margin-left:auto;
		margin-right:auto;
		width: 800px;
		font-weight: 1;
		font-family: 'Lato', sans-serif;
		font-size: 16pt;
		}

	.shaded {
	    border: thin gray solid;
	    background-color: lavender;
	    font-family: arial;
	    font-weight: 200;
	    }
	.unshaded {
	    border: thin gray solid;
	    font-family: arial;
	 	}
	.subheading3 {
	    color: white;
	    border: thin gray solid;
	    background-color: black;
	    font-family: arial;
	    text-align: center;
	 	}
 	.weekshade {
	    border: thin gray solid;
	    font-family: arial;
	    text-align: center;
	    text-transform: uppercase;
	    -webkit-transform: rotate(-90deg);
 		-moz-transform: rotate(-90deg);
 		-ms-transform: rotate(-90deg);
  		-o-transform: rotate(-90deg);
 		transform: rotate(-90deg);
	 	}

	 .shadetest {		
		background-color: lavender;
		}

	.weekunshade {
	    border: thin gray solid;
	    font-family: arial;
	    text-align: center;
	    text-transform: uppercase;
	    -webkit-transform: rotate(-90deg);
 		-moz-transform: rotate(-90deg);
 		-ms-transform: rotate(-90deg);
  		-o-transform: rotate(-90deg);
 		transform: rotate(-90deg);
	  	}


	